{% extends 'ElephantlyStaticContentBundle::layout.html.twig' %}

{% block view %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="wrapper">
                    <h3>Static Content Create</h3>
                    <form class="" action="{{ path('elephantly_static_content_create') }}" method="POST">
                        {{ form_row(form) }}
                        <div class="float-right">
                            <a href="{{ path('elephantly_static_content_index') }}">Cancel</a>
                            <input type="submit" name="create" value="Create">
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
